*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


:root{
    --bool-azzurro: color: #47adf1;
    --bool-viola: color: #9c72e4;
    --bool-verdeacqua: color: #64c0a8;
    --bool-arancione: color: #f29e33;
    --bool-rosa: color: #d863a0;
    --bool-verde: color: #b0c926;
}

.marginY{
    margin-top: 0.8rem;
}

.margin_left{
    margin-left: 4rem;
}

.type{
    border-radius: 10px;
    color: #ffffff;
    font-size: 0.6rem;
    margin-left: 1rem;
    display: inline-block;
    
}

.q1goals{
    background-color: #9c72e4;
    border: 5px solid #9c72e4;

}

.recruiting{
    background-color: #64c0a8;
    border: 5px solid #64c0a8;
}

.mobile{
    background-color: #f29e33;
    border: 5px solid #f29e33;
}

.website{
    background-color: #d863a0;
    border: 5px solid #d863a0;
}

.sales{
    background-color: #b0c926;
    border: 5px solid #b0c926;
}

/* utility */

body{
    background-color: lightgray;
}
.container{
    background-color: white;
}

h1{
    display: inline-block;
    vertical-align: 30%;
    font-size: 3rem;
}

main{
    width: 70%;
    margin: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
}

.add_task{
    background-color: #47adf1;
    border-radius: 10px;
    color: #ffffff;
    border: 0.4rem solid #47adf1;
    margin-left: 4rem;
    margin-top: 1rem;
    display: inline-block;
}

.add_section{
    border-radius: 10px;
    color:  lightgray;
    background-color: white;
    border: 2px solid lightgrey;
    display: inline-block;
    padding: 0.25rem;
    
}

nav{
    width: 100%;
    height: 4rem;
    margin-top: 3rem;
    margin-bottom: 0.1rem;
    border-bottom: 2px solid lightgray;
    
}

section{
    width: 100%;
    margin: auto;
    background-color: white;
    margin-top: 2rem;
    
}

span{
    font-size: medium;
}

.task{
    display: inline-block;
}

.editorial{
    background-color: #47adf1;
    border-radius: 10px;
    color: #ffffff;
    display: inline-block;
    font-size: 0.6rem;
    margin-left: 1rem;
    border: 5px solid #47adf1;
}

